.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }

  .ReactModal__Overlay {
    z-index: 2;
  }

  form {
    display: flex;
    flex-direction: column;
    
  }

  button.btn-close {
    position: absolute;
    height: 35px;
    min-width: 35px;
    padding: 0px;
    right: 20px;
  }
  