/* start screen styles starts */

.start_screen {
    padding: 30px 40px 50px;
    background-color: #033c5a;
    background-image:  url("../../public/Vector.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 100px right;
    @media (max-width: 760px) {
            padding: 30px 10px 0px;
    };
    &_content {
        margin-top: 90px;
        align-items: flex-end;
        @media (max-width: 1028px) {
            margin-top: 60px;
            flex-direction: column;
        };
    };
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    margin-bottom: 243px;
    @media (max-width: 1028px) {
            max-width: 460px;
            margin-bottom: 0px;
            margin: 0 auto;
    };
  }
  
  .only_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #ffffff;
    margin-top: 0px;
    @media screen and (max-width: 760px) {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }
  }
  
  .only_text {
    font-family: 'Arial';
    font-size: .95rem;
    line-height: 160%;
    margin-bottom: 2.6rem;
    color: #CDCDCD;
    @media screen and (max-width: 760px) {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
    }
  }
  
  .button_only {
    width: 210px;
    text-decoration: none;
    color: #033c5a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .06em;
    padding: 15px 45px;
    border: none;
    border-radius: 0.05rem;
    background-color: #ec720b;
    @media screen and (max-width: 1028px) {
        margin: 0 auto;
    }
  }
  
  .button_text {
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    vertical-align: Top;
    letter-spacing: 1px;
    color: #292929;
    text-decoration: none;
  }
  
  .start_screen_pet {
    height: 500px;
    width: 700px;
    @media screen and (max-width: 1028px) {
        height: 500px;
        width: 500px;
        margin-top: 100px;
    };
    @media screen and (max-width: 760px) {
        height: 271px;
        width: 260px;
        margin-top: 105px;
    }
  }
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  /* start screen styles ends */