@font-face {
  font-family: "Montserrat";
  src:
    url("../../public/Montserrat/static/Montserrat-Regular.ttf")
    
}

/* start screen styles starts */

.start_screen {
    min-height: 88vh;
    padding: 50px 40px 20px;
    background-color: #033c5a;
    //background-image:  url("../../public/Vector.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 100px right;
    @media (max-width: 1028px) {
      padding: 30px 40px 0px;
    };
    @media (max-width: 760px) {
      min-height: 55vh;
      padding: 30px 10px 10px;
    };
    &_content {
      //margin-top: 100px;
      align-items: flex-start; 
      @media (max-width: 1028px) {
        flex-direction: column;
        margin-top: 80px;
      };
    };
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1028px) {
      max-width: 600px;
      align-items: center;
      margin-bottom: 0px;
      margin: 0 auto;
    };
    @media (max-width: 760px) {
      max-width: 560px;
      margin: 0 auto;
    };
  }
  
  .only_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #ffffff;
    margin-bottom: 20px;
    padding-right: 20px;
    @media screen and (max-width: 1028px) {
        font-size: 25px;
        line-height: 32.5px;
    }
    @media screen and (max-width: 760px) {
      font-size: 25px;
      line-height: 32.5px;
      text-align: center;
      padding-right: 0px;
  }
  }
  
  .only_text {
    font-family: 'Arial';
    font-size: 20px;
    line-height: 160%;
    margin: 1.6rem;
    color: #CDCDCD;
    text-align: center;
    @media screen and (max-width: 1028px) {
        font-size: 15px;
        line-height: 24px;
    }
    @media screen and (max-width: 760px) {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      padding-right: 0px;
  }
  }
  
  .button_only {
    width: 210px;
    text-decoration: none;
    color: #033c5a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .06em;
    padding: 15px 45px;
    border: none;
    border-radius: 0.05rem;
    background-color: #ec720b;
    @media screen and (max-width: 1028px) {
        margin: 0 auto;
    }
  }
  
  .button_text {
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    vertical-align: Top;
    letter-spacing: 1px;
    color: #292929;
    text-decoration: none;
  }
  
  .start_screen_pet {
    max-height: 530px;
    max-width: 700px;
    height: 40vw;
    width: 45vw;
    @media screen and (max-width: 1028px) {
      margin-top: 50px;
      height: 50vw;
      width: 65vw;
      max-width: 600px;
    }
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    &__img {
      height: 60px;
      width: 270px;
      @media screen and (max-width: 1028px){
        height: 45px;
        width: 200px;
      }
    }
    &__text {
      margin: 10px 0 0;
      font-size: 16px;
      line-height: 15px;
      font-weight: 400;
      letter-spacing: 0.09em;
      color: #ffffff;
      &__short {
        margin: 10px 0 0;
        font-size: 16px;
        line-height: 15px;
        font-weight: 400;
        letter-spacing: 0.09em;
        color: black;
      };
    }
    &__title {
        font-family: Georgia;
        font-weight: 400;
        font-style:normal;
        font-size: 32px;
        text-align: Left;
        letter-spacing: 0.12em;
        color: #F1CDB3;
        margin: 0px;
        &__short {
          font-family: Georgia;
          font-weight: 400;
          font-style:normal;
          font-size: 32px;
          text-align: Left;
          letter-spacing: 0.12em;
          color: black;
          margin-top: 0px;
        };
    }
  }
  //img {
    //overflow-clip-margin: content-box;
    //overflow: clip;
  //}
  .HIV {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    color: #033c5a;
    margin-bottom: 0px;
    background-color: #ec720b;
    height: 200px;
    width: 200px;
    border-radius: 30px;
  }
  
  /* start screen styles ends */