.footer {
    width: 100%;
    min-height: 16vh;
    background-color: white;
    padding: 15px 40px 15px;
    margin: 0 auto;
    overflow: auto;
    @media (max-width: 760px) {
        min-height: 45vh;
    };
    &__short {
        position: relative;
        width: 100%;
        min-height: 16vh;
        background-color: white;
        padding: 15px 40px 15px;
        margin: 0 auto;
        overflow: auto;
        background-color: #033c5a;
        @media (max-width: 760px) {
            min-height: 45vh;
        };
    }
    &__logo {
        font-style:normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0.2em;
        text-align: center;
        color: #033c5a;
        @media (max-width: 1028px) {
            font-size: 24px;
            line-height: 35px;
        };
        @media (max-width: 760px) {
            display: none;
        };
        &__span {
            color: #ec720b;
        }
        &__short {
            font-style:normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 45px;
            letter-spacing: 0.2em;
            text-align: center;
            color: white;
            @media (max-width: 1028px) {
                font-size: 24px;
                line-height: 35px;
            };
            @media (max-width: 760px) {
                display: none;
            };
        }
    }
    &__logo-img {
        width: 120px;
        height: 100px;
        margin: 0 auto;
        @media (max-width: 760px) {
            width: 260px;
            height: 269px;
        };
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:flex-start;
        @media (max-width: 1028px) {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        };
        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-grow: 1;
            margin-right: 10vw;
            @media (max-width: 1028px) {
                width: 100%;
                align-items: center;
                row-gap: 8px;
                margin-right: 0vw;
            };
            @media (max-width: 760px) {
                flex-direction: column;
                align-items: center;
                row-gap: 4px;
            };
        };
    };
    &__nav {
        display: flex;
        flex-direction: column;
        align-items:start;
        row-gap: 10px;
        margin-bottom: 0px;
        padding-left: 0px;
        &__short {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            margin-bottom: 0px;
            padding-left: 0px;
            color: white;
        }
    }
}

.contacts {
    max-width: 300px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    &__social {
        @media (max-width: 1028px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction:row-reverse;
        }
    }
    @media (max-width: 1028px) {
        font-size: 20px;
        line-height: 35.5px;
        letter-spacing: 0.06em;
        text-align: center;
    };
    &__links {
        display: flex;
        justify-content: space-between;
        width: 254px;
        @media (max-width: 760px) {
            margin: 0 auto;
        };
    }
    &__phone {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    &__img {
        margin-right: 20px;
    }
    &__title {
        font-family: 'Georgia';
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.1em;
        margin-top: 0px;
        margin-bottom: 5px;
        text-align: left;
        @media (max-width: 1028px) {
            font-size: 16px;
            line-height: 25.5px;
            letter-spacing: 0.05em;
        };
        @media (max-width: 760px) {
            font-size: 14px;
            line-height: 20.5px;
            letter-spacing: 0.04em;
        };
        &__short {
            font-family: 'Georgia';
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.1em;
            margin-top: 0px;
            margin-bottom: 5px;
            color: #ec720b;
            text-align: left;
            @media (max-width: 1028px) {
                font-size: 16px;
                line-height: 25.5px;
                letter-spacing: 0.05em;
            };
            @media (max-width: 760px) {
                font-size: 14px;
                line-height: 20.5px;
                letter-spacing: 0.04em;
            };
        }
    }
    &__info {
        font-family: 'Georgia';
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: #033c5aac;
        @media (max-width: 1028px) {
            font-size: 14px !important;
            line-height: 20.5px !important;
            letter-spacing: 0.06em;
        };
        @media (max-width: 760px) {
            font-size: 13px !important;
            line-height: 17.5px !important;
            letter-spacing: 0.06em;
        };
        &__short {
            font-family: 'Georgia';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-decoration: none;
            color: white;
            @media (max-width: 1028px) {
                font-size: 14px !important;
                line-height: 20.5px !important;
                letter-spacing: 0.06em;
            };
            @media (max-width: 760px) {
                font-size: 13px !important;
                line-height: 17.5px !important;
                letter-spacing: 0.06em;
            };
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
    }
}
.gap {
    height: 15px;
    @media (max-width: 760px) {
        display: none;
    };
}
/* Footer ends*/