html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  width: 100%;
  @media (max-width: 1028px) {
    min-height: 82vh;
  }
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  display: flex;
}

.table-scroll {
  scroll-behavior: auto;
}

button {
  font-size: 2rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}



.btn {
  //color: #033c5a !important;
  font-weight: 600;
  background-color: #ec720b;
  border-color: #ff8307;
  border-radius: 0.0rem !important;
}

.btn:hover {
  color: #033c5a !important;
  background-color: #f39c55 !important;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: white;
  min-width: 320px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  color: #033c5a;
}


p {
  font-size: 18px;
  font-weight: 500;
  color: #033c5a;

  @media (max-width: 760px) {
    /* apply styles for md screens and larger */
    font-size: 16px;
  }
}

section {
  padding: 50px 0px 0px;
  @media (max-width: 1028px) {
    padding: 30px 0px 0px;
  }
}

.section-title {
  font-size: 35px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #ec720b;
  @media (max-width: 1028px) {
    font-size: 30px;
  }
  @media (max-width: 768px) {
    font-size: 25px;
  }
}

.section-subtitle {
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #ec720b;
  @media (max-width: 1028px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
    margin-left: 20px;
  }
}

.section-bottom-title {
  font-size: 25px;
  font-family: 'MontserratB';
  color: #ec720b;
}


.main-content {
  margin: 0 auto;
  padding: 50px 40px 0;

  @media (max-width: 1028px) {
    /* apply styles for md screens and larger */
    padding: 20px 20px 0px;
  }

  @media (max-width: 760px) {
    /* apply styles for md screens and larger */
    padding: 20px 10px 0px;
  }
}

/* Default buttons style */
.all-buttons {
  background-color: #e3f2fd;
  color: #2b0029;
}

/* ===== Navbar ===== */

/* Font for navigation bar elements */
.nav-item {
  font-size: 20px;
  font-weight: 500;
  color: #033c5a;

}

/* Redefining the size of the Bootstrap modal dialog box */
.modal-dialog {
  max-width: 500px;
}

/* Redefining the size and alignment for input fields in Bootstrap modal dialog box */
.input-field {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 90%;
}

.uploadForm {
  width: 500px;
}

.displayingTable th {
  background-color: #f2f2f2;
  white-space: nowrap;
  /* Предотвращает перенос текста на следующую строку */
  text-align: left;
  /* Выравнивание текста внутри ячейки (зависит от вашего дизайна) */
  padding-right: 20px;
  /* Добавление отступа справа для изображения */
}

.displayingTable th img {
  max-width: 100%;
  /* Ограничивает максимальную ширину изображения до ширины текста */
  max-height: 1em;
  /* Ограничивает максимальную высоту изображения до высоты текста (1em) */
  vertical-align: middle;
  /* Выравнивание изображения по вертикали (зависит от вашего дизайна) */
}

input[type="button"]:not(.default),
input[type="submit"]:not(.default),
button:not(.default) {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  -webkit-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    -webkit-box-shadow 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    -moz-box-shadow 0.2s ease;
  -o-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    box-shadow 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    box-shadow 0.2s ease;
  //position: relative;
  margin: 0px;
  display: inline-block;
  max-width: 100%;
  padding: 15px 25px;
  font-family:"Montserrat";;
  font-size: 17px;
  font-weight: 600;
  /* text-transform: uppercase; */
  line-height: 1;
  border-width: 1px;
  border-style: inherit;
  background-color: #ec720b;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.table-btn {
  width: 70px !important;
  min-width: 20px !important;
  min-height: 30px;
  padding: 2px 2px !important;
  font-size: 12px !important;
  margin: 10px 0 !important;
}

.table-btn:disabled {
  width: 70px !important;
  min-width: 20px !important;
  min-height: 30px;
  padding: 2px 2px !important;
  font-size: 12px !important;
  background-color: #d3d3d3;
  /* Серый фон */
  color: #a9a9a9;
  /* Серый цвет текста */
  border: 1px solid #c0c0c0;
  /* Серая граница */
  cursor: not-allowed;
  /* Курсор в виде знака "недоступно" */
}

.modal-btn {
  width: 100% !important;
  margin: 10px 0 10px !important;
}

.resetPass-btn {
  width: 100% !important;
  color: #033c5a !important;
  background-color: white !important;
  padding: 3px !important;
}

.resetPass-btn:hover {
  color: #5087a6 !important;
  background-color: white !important;
}

.btn-no-display {
  display: none !important;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Btn-collapse {
  color: white !important;
  text-align: start !important;
}

.ready-to-get-btn {
  margin: 0 auto;
}

.form {
  zoom: 1;
  display: block;
  width: auto;
  padding: 25px 0 0;

  @media (max-width: 760px) {
    padding: 0;
  }

  ;
}

.form:before,
.form:after {
  content: "";
  display: table;
}

.form:after {
  clear: both;
}

.form .form-group {
  zoom: 1;
  position: relative;
  margin-bottom: 10px;
}

.form .form-group:before,
.form .form-group:after {
  content: "";
  display: table;
}

.form .form-group:after {
  clear: both;
}

.form .form-group:after {
  content: "";
  display: block;
  clear: both;
}

.form .form-group[class*="col-"] input[type="text"],
.form .form-group[class*="col-"] input[type="email"],
.form .form-group[class*="col-"] input[type="tel"],
.form .form-group[class*="col-"] input[type="password"] {
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  -webkit-transition: color 0.2s ease, background 0.3s ease;
  -moz-transition: color 0.2s ease, background 0.3s ease;
  -o-transition: color 0.2s ease, background 0.3s ease;
  transition: color 0.2s ease, background 0.3s ease;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 17px;
  color: #8d8d8d;
  background-color: #ffffff;
  //border-width: 0 0 2px 0;
  //border-bottom-color: #d7d7d7;
  border-radius: 5px;
  outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover {
  color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  outline: none;
  border-left-color: steelblue;
}

.react-tel-input .form-control {
  padding: 7px 14px 7px 60px !important;
}

.well h3 {
  text-shadow: -1px -1px #fff, -2px -2px #fff, -1px 1px #fff, -2px 2px #fff,
    1px 1px #fff, 2px 2px #fff, 1px -1px #fff, 2px -2px #fff, -3px -3px 2px #bbb,
    -3px 3px 2px #bbb, 3px 3px 2px #bbb, 3px -3px 2px #bbb;
  color: steelblue;
  transition: all 1s;
}

label,
legend {
  color: #ec720b;
  margin-bottom: 5px;
  font-size: 20px !important;
  @media (max-width: 1028px) {
    /* apply styles for md screens and larger */
    font-size: 17px !important;
  }
  @media (max-width: 760px) {
    /* apply styles for md screens and larger */
    font-size: 16px !important;
  }
}

.mb-3 {
  font-size: 20px;
}

.form-check-label {
  color: #000000;
  font-size: 18px !important;
}

.navbar-wrapper {
  position: relative;
  margin-bottom: 100px;
}

#navbar0 {
  height: 50px;
}

#navbar1 {
  height: 50px;
}

.hidden {
  display: none;
}

.file-upload input[type="file"] {
  display: none;
  /* скрываем input file */
}

/* задаем стили кнопки выбора файла*/

.file-upload {
  position: relative;
  overflow: hidden;
  width: 168.09px;
  height: 47px;
  background: #ec720b;
  border-radius: 1px;
  color: #0000;
  text-align: center;
}

.file-upload:hover {
  background: #ec720b;
}

.file-upload.disabled {
  background: #A8A8A8; 
  color: #6D6D6D; 
}

.file-upload.disabled span {
  color: #6D6D6D; /* Цвет текста внутри span для отключенного состояния */
  cursor: not-allowed; /* Курсор показывает, что label неактивен */
}

/* Растягиваем label на всю область блока .file-upload */

.file-upload label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* стиль текста на кнопке*/

.file-upload span {
  line-height: 45px;
  font-size: 17px;
  font-weight: bold;
  color: #033c5a;
}

.dashboard span {
  line-height: 20px;
  font-size: 13px;
}

.frame-container {
  padding: 10px 10px 0;
  //border: 8px ridge rgba(10, 42, 68, 0.534);
}

.row {
  flex-grow: 1 !important;
}

.col-md-6 {
  @media (max-width: 1030px) {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
}

.col-md-12 {
  @media (max-width: 1030px) {
    width: 100% !important;
  }
}

.mt-5 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  flex-grow: 1 !important;
  @media (max-width: 768px) {
    margin-top: 10px !important;
  }
}

.table {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: unset;
}

.scroll-table {
  overflow-x: auto;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  color: #ec720b;
  border: none;
  padding: 5px 15px;
  background: #033c5ae7;
  font-size: 18px;
  border-top: 3px solid #ddd;
}

.table tr th:first-child,
.table tr td:first-child {
  border-left: 3px solid #ddd;
  border-radius: 1px;
}

.table tr th:last-child,
.table tr td:last-child {
  border-right: 2px solid #ddd;
  border-radius: 1px;
}

.table thead tr th:first-child {
  border-radius: 1px;
}

.table thead tr th {
  border-radius: 1px;
}

.table thead tr th:last-child {
  border-radius: 1px;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 700;
  color: #033c5ae7;
  background: #F8F8F8;
  border-radius: 1px;
  @media (max-width: 1200px) {
    font-size: 14px;
    padding: 5px 7px;
  };
  @media (max-width: 760px) {
    font-size: 12px;
    padding: 5px 5px;
  };
}

.table tbody td:first-child {
  width: 40%;
  text-align: left;
  word-break: break-all;
  @media (max-width: 760px) {
    width: 40%;
  };
}

.table tbody td {
  width: 15%;
}

.table tbody tr:nth-child(even) {
  background: #F8F8F8;
  border-radius: 1px;
  font-size: 17px;
  @media (max-width: 1028px) {
    font-size: 15px;
  };
  @media (max-width: 760px) {
    font-size: 12px;
  };
}

.table tbody tr:first-child td {
  font-size: 17px;
  background: #b8e2f85b;
  color: #ec720b;
  @media (max-width: 1028px) {
    font-size: 16px;
  };
  @media (max-width: 760px) {
    font-size: 14px;
  };
}

.table tbody tr:last-child td {
  border-bottom: 3px solid #ddd;
}

.table tbody tr:last-child td:first-child {
  border-radius: 1px;
}

.table tbody tr:last-child td:last-child {
  border-radius: 1px;

}

.form-control {
  //height: 35px;
  margin-bottom: 0px !important;
}

.dashboard-table tbody td:first-child {
  width: 15%;
  text-align: left;
}

.not_registered {
  color: rgb(25, 103, 210);
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.margin_left {
  margin-left: 1.25rem;
}

.about-service {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  overflow: auto;
  @media (max-width: 1028px) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0px;
    font-size: 16px;
    flex-direction: column !important;
  }
  @media (max-width: 760px) {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  &__picture {
    width: 100%;
    height: 100%;
    @media (max-width: 1028px) {
      width: 60%;
      height: 60%;
      display: flex;
      margin: 0 auto;
    }
    @media (max-width: 760px) {
      display: none;
    }
  }
}

.start_screen_content {
  margin-top: 60px;
}

.leftColumn {
  width: 37% !important;

  @media (max-width: 760px) {
    /* apply styles for md screens and larger */
    width: 100% !important;
  }
}

.rightColumn {
  width: 63% !important;

  @media (max-width: 760px) {
    /* apply styles for md screens and larger */
    width: 100% !important;
  }
}

//messageWiget styles
.rcw-conversation-container > .rcw-header {
  background-color: #033c5a !important;
}

.rcw-conversation-container .rcw-title {
  color: #ec720b;
}

.rcw-widget-container > button {
  background-color: #ec720b !important;
  min-width: 70px !important;
  padding: 0 !important;
  color: white;
}

.rcw-sender > button {
  background-color: white !important;
  min-width: 50px !important;
  padding: 8px !important;
  color: white;
}

button.emoji-mart-anchor {
  min-width: 40px !important;
  padding: 10px !important;
}

button.emoji-mart-search-icon {
  min-width: 40px !important;
  padding: 0px !important;
  background-color: white !important;
}

button.emoji-mart-emoji {
  min-width: 40px !important;
  padding: 10px !important;
  background-color: white !important;
}

.rcw-avatar {
  width: 50px !important;
  height: 50px !important;
}

.accordion {
  width: 100% !important;
  margin-bottom: 5px;
}

.accordion-button {
  background-color: #033c5a !important;
  border-radius: 0 !important;
 
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-accordion-active-bg) !important;
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}

.accordion-item {
  width: 100% !important;
  border: none !important;
  position: relative;
}

.accordion__arrow {
  display: inline-block;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 40px;
  right: 15px;
  margin-top: -6px;
}

.d-flex {
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.buy-credits {
  padding: 30px 0 70px;
}

.legal-terms {
  font-size: 15px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
