html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
    width: 100%;
    min-height: 84vh;
    margin: 0;
    background-color:#032a5a10;
    @media (max-width: 760px) {
      min-height: 55vh;
    };
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
  
  .container {
    display: flex;
  }
  .table-scroll {
    scroll-behavior: auto;
  }
  button {
    font-size: 2rem;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
  }
  
 

.btn {
  color: #033c5a !important;
  font-weight: 600;
  background-color: #ec720b;
  border-color: #ff8307;
  border-radius: 0.0rem !important;
}
.btn:hover {
  color: #5087a6 !important;
  background-color: #f39c55 !important;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  min-width: 320px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: #033c5a;
}

h2 {
  font-size: 25px !important;
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    font-size: 20px !important;
  }
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #033c5a;
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    font-size: 16px;
  }
}

section {
  padding: 50px 0px 0px;
  @media (max-width: 1028px) { /* apply styles for md screens and larger */
    padding: 30px 0px 0px;
  }
}
.main-content {
  max-width: 1280px;
  margin: 0 auto;
  @media (max-width: 1028px) { /* apply styles for md screens and larger */
    padding: 20px 20px 0px;
  }
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    padding: 20px 10px 0px;
  }
}

/* Default buttons style */
.all-buttons {
  background-color: #e3f2fd;
  color: #2b0029;
}

/* ===== Navbar ===== */

/* Font for navigation bar elements */
.nav-item {
  font-size: 20px;
  font-weight: 500;
}

/* Redefining the size of the Bootstrap modal dialog box */
.modal-dialog {
  max-width: 500px;
}

/* Redefining the size and alignment for input fields in Bootstrap modal dialog box */
.input-field {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 90%;
}

.uploadForm {
  width: 500px;
}

.displayingTable th {
  background-color: #f2f2f2;
  white-space: nowrap; /* Предотвращает перенос текста на следующую строку */
  text-align: left; /* Выравнивание текста внутри ячейки (зависит от вашего дизайна) */
  padding-right: 20px; /* Добавление отступа справа для изображения */
}

.displayingTable th img {
  max-width: 100%; /* Ограничивает максимальную ширину изображения до ширины текста */
  max-height: 1em; /* Ограничивает максимальную высоту изображения до высоты текста (1em) */
  vertical-align: middle; /* Выравнивание изображения по вертикали (зависит от вашего дизайна) */
}

input[type="button"]:not(.default),
input[type="submit"]:not(.default),
button:not(.default) {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  -webkit-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    -webkit-box-shadow 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    -moz-box-shadow 0.2s ease;
  -o-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    box-shadow 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    box-shadow 0.2s ease;
  //position: relative;
  margin: 0px;
  display: inline-block;
  min-width: 144px;
  max-width: 100%;
  padding: 15px 25px;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  /* text-transform: uppercase; */
  line-height: 1;
  border-width: 1px;
  border-style:inherit;
  background-color: #ec720b;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
}

.table-btn {
  width: 70px !important;
  min-width: 20px !important;
  min-height: 30px;
  padding: 2px 2px !important;
  font-size: 12px !important;
}

.modal-btn {
  width: 100% !important;
  margin: 10px 0 10px !important;
}

.resetPass-btn {
  width: 100% !important;
  background-color: white !important;
  padding: 3px !important;
}

.resetPass-btn:hover {
  color: #5087a6 !important;
  background-color: white!important;
}

.btn-no-display {
  display: none !important;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form {
  zoom: 1;
  display: block;
  width: auto;
  padding: 25px 0 0;
  @media (max-width: 760px) {
    padding: 0;
};
}

.form:before,
.form:after {
  content: "";
  display: table;
}

.form:after {
  clear: both;
}

.form .form-group {
  zoom: 1;
  position: relative;
  margin-bottom: 10px;
}

.form .form-group:before,
.form .form-group:after {
  content: "";
  display: table;
}

.form .form-group:after {
  clear: both;
}

.form .form-group:after {
  content: "";
  display: block;
  clear: both;
}

.form .form-group[class*="col-"] input[type="text"],
.form .form-group[class*="col-"] input[type="email"],
.form .form-group[class*="col-"] input[type="password"] {
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  -webkit-transition: color 0.2s ease, background 0.3s ease;
  -moz-transition: color 0.2s ease, background 0.3s ease;
  -o-transition: color 0.2s ease, background 0.3s ease;
  transition: color 0.2s ease, background 0.3s ease;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* margin: 0;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: top; */
  width: 100%;
  font-size: 17px;
  color: #8d8d8d;
  background-color: #ffffff;
  border-width: 0 0 2px 0;
  border-bottom-color: #d7d7d7;
  outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-left-color: steelblue;
}

.well h3 {
  text-shadow: -1px -1px #fff, -2px -2px #fff, -1px 1px #fff, -2px 2px #fff,
    1px 1px #fff, 2px 2px #fff, 1px -1px #fff, 2px -2px #fff, -3px -3px 2px #bbb,
    -3px 3px 2px #bbb, 3px 3px 2px #bbb, 3px -3px 2px #bbb;
  color: steelblue;
  transition: all 1s;
}

label, legend {
  color:#ec720b;
  margin-bottom: 5px;
  font-size: 20px !important;
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    font-size: 16px !important;
  }
}

.mb-3 {
  font-size: 20px;
}

.form-check-label {
  color:#000000;
}

.navbar-wrapper {
    position: relative;
    margin-bottom: 100px;
 }

#navbar0 {
  height: 50px;
}

#navbar1 {
  height: 50px;
}

.nav-link {
  font-weight: bold;
}

.hidden {
  display: none;
}

.file-upload input[type="file"]{
display: none;/* скрываем input file */
}

/* задаем стили кнопки выбора файла*/

.file-upload {
position: relative;
overflow: hidden;
width: 150px;
height: 45px;
background:  #ec720b;
border-radius: 3px;
color: #0000;
text-align: center;
}

.file-upload:hover {
background: #ec720b;
}

/* Растягиваем label на всю область блока .file-upload */

.file-upload label {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
cursor: pointer;
}

/* стиль текста на кнопке*/

.file-upload span {
line-height: 45px;
font-size: 17px;
font-weight:bold;
color: #033c5a;
}

.row {
  flex-grow: 1 !important;
}
.mt-5 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  flex-grow: 1 !important;
  margin-top: 0px !important;
}

.table {
  border: none;
  margin-top: 20px;
	margin-bottom: 20px;
  border-collapse:unset;
}
.scroll-table {
  overflow-x: auto;
}
.table thead th {
	font-weight: bold;
	text-align: left;
  color: #ec720b;
	border: none;
	padding: 5px 15px;
	background: #033c5ae7;
	font-size: 18px;
	border-top: 3px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
	border-left: 3px solid #ddd;
  border-radius: 1px;
}
.table tr th:last-child, .table tr td:last-child {
	border-right: 2px solid #ddd;
  border-radius: 1px;
}
.table thead tr th:first-child {
	border-radius: 1px;
}
.table thead tr th {
	border-radius: 1px;
}
.table thead tr th:last-child {
	border-radius: 1px;
  
}
.table tbody td {
	text-align: center;
	border: none;
	padding: 5px 15px;
	font-size: 15px;
  font-weight: 700;
  color: #033c5ae7;
	vertical-align: top;
  background: #F8F8F8;
  border-radius: 1px;
  @media (max-width: 1200px) {
    font-size: 14px;
    padding: 5px 7px;
  };
  @media (max-width: 760px) {
    font-size: 12px;
    padding: 5px 5px;
  };
}
.table tbody td:first-child {
	width: 40%;
  text-align: left;
  word-break: break-all;
  @media (max-width: 760px) {
    width: 40%;
  };
}
.table tbody td {
	width: 15%;
}
.table tbody tr:nth-child(even) {
	background: #F8F8F8;
  border-radius: 1px;
  font-size: 17px;
  @media (max-width: 1028px) {
    font-size: 15px;
  };
  @media (max-width: 760px) {
    font-size: 12px;
  };
}
.table tbody tr:first-child td{
  font-size: 17px;
  background: #b8e2f85b;
  color: #ec720b;
  @media (max-width: 1028px) {
    font-size: 16px;
  };
  @media (max-width: 760px) {
    font-size: 14px;
  };
}
/* .table tbody tr:last-child td{
  font-size: 15px;
  background: #b8e2f85b;
  color: #ec720b;
  @media (max-width: 1028px) {
    font-size: 15px;
  };
  @media (max-width: 760px) {
    font-size: 12px;
  };
} */

.table tbody tr:last-child td{
	border-bottom: 3px solid #ddd;
}
.table tbody tr:last-child td:first-child {
	border-radius: 1px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 1px;
 
} 

.form-control {
  //height: 35px;
  margin-bottom: 0px !important;
}

.dashboard-table tbody td:first-child {
	width: 15%;
  text-align: left;
}

.not_registered {
  color: rgb(25,103,210);
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.margin_left {
  margin-left: 1.25rem;
}

.about_service {
  width: 100%; /* default to 100% width */
  height: 100%; /* default to 100% height */
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  overflow: auto;
  @media (max-width: 1028px) { /* apply styles for md screens and larger */
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
    flex-direction: column !important;
  }
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  &__picture {
    width: 100%;
    height: 100%;
    @media (max-width: 1028px) { /* apply styles for md screens and larger */
      width: 60%;
      height: 60%;
      display: flex;
      margin: 0 auto;
    }
    @media (max-width: 760px) { /* apply styles for md screens and larger */
      display: none;
    }
  }
}


.sc-bdfCDU.PXKBi, .sc-bdfCDU.hNbySd {
  min-width: 72px !important;
}

.start_screen_content {
  margin-top: 60px;
}

.leftColumn {
  width: 37% !important;
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    width: 100% !important;
  }
}

.rightColumn {
  width: 63% !important;
  @media (max-width: 760px) { /* apply styles for md screens and larger */
    width: 100% !important;
  }
}