.app {
    width: 100%;
    height: 84vh;
    margin: 0;
    overflow: hidden;
    background-color:#032a5a10;
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
  
  .container {
    display: flex;
  }
  
  button {
    font-size: 1.5rem;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    &__img{
      height: 60px;
      width: 270px;
    }
    &__text {
      margin: 10px 0 0;
      font-size: 16px;
      line-height: 15px;
      font-weight: 400;
      letter-spacing: 0.09em;
      color: #ffffff;
      &__short {
        margin: 10px 0 0;
        font-size: 16px;
        line-height: 15px;
        font-weight: 400;
        letter-spacing: 0.09em;
        color: black;
      };
    }
    &__title {
        font-family: Georgia;
        font-weight: 400;
        font-style:normal;
        font-size: 32px;
        text-align: Left;
        letter-spacing: 0.12em;
        color: #F1CDB3;
        margin: 0px;
        &__short {
          font-family: Georgia;
          font-weight: 400;
          font-style:normal;
          font-size: 32px;
          text-align: Left;
          letter-spacing: 0.12em;
          color: black;
          margin-top: 0px;
        };
    }
  }

.btn {
  color: #033c5a !important;
  font-weight: 600;
  font-size: 17px  !important;
  background-color: #ec720b;
  border-color: #ff8307;
  border-radius: 0.0rem !important;
}
.btn:hover {
  color: #5087a6 !important;
  background-color: #f39c55 !important;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  min-width: 320px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: #033c5a;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #033c5a;
}

section {
  padding: 50px 0px 0px;
}
.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

/* Default buttons style */
.all-buttons {
  background-color: #e3f2fd;
  color: #2b0029;
}

/* ===== Navbar ===== */

/* Font for navigation bar elements */
.nav-item {
  font-size: 20px;
  font-weight: 500;
}

/* Redefining the size of the Bootstrap modal dialog box */
.modal-dialog {
  max-width: 500px;
}

/* Redefining the size and alignment for input fields in Bootstrap modal dialog box */
.input-field {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}

.uploadForm {
  width: 500px;
}

/* table {
  border-collapse: collapse;
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 15px;
  &__FileDetails {
    border: solid #000000;
    white-space: nowrap;
    
  }
}

th,
td {
  border: 2px solid rgba(0, 0, 0, 0.373) !important;
  padding: 8px;
  
} */
.displayingTable th {
  background-color: #f2f2f2;
  white-space: nowrap; /* Предотвращает перенос текста на следующую строку */
  text-align: left; /* Выравнивание текста внутри ячейки (зависит от вашего дизайна) */
  padding-right: 20px; /* Добавление отступа справа для изображения */
}

.displayingTable th img {
  max-width: 100%; /* Ограничивает максимальную ширину изображения до ширины текста */
  max-height: 1em; /* Ограничивает максимальную высоту изображения до высоты текста (1em) */
  vertical-align: middle; /* Выравнивание изображения по вертикали (зависит от вашего дизайна) */
}

input[type="button"]:not(.default),
input[type="submit"]:not(.default),
button:not(.default) {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  -webkit-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    -webkit-box-shadow 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    -moz-box-shadow 0.2s ease;
  -o-transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    box-shadow 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease, background 0.2s ease,
    box-shadow 0.2s ease;
  position: relative;
  margin: 0 7px;
  display: inline-block;
  min-width: 144px;
  max-width: 100%;
  padding: 15px 25px;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  border-width: 1px;
  border-style:inherit;
  background-color: #ec720b;
  color: #ffffff;
}

.form {
  zoom: 1;
  display: block;
  width: auto;
  padding: 25px 0 0;
}

.form:before,
.form:after {
  content: "";
  display: table;
}

.form:after {
  clear: both;
}

.form .form-group {
  zoom: 1;
  position: relative;
  margin-bottom: 10px;
}

.form .form-group:before,
.form .form-group:after {
  content: "";
  display: table;
}

.form .form-group:after {
  clear: both;
}

.form .form-group:after {
  content: "";
  display: block;
  clear: both;
}

.form .form-group[class*="col-"] input[type="text"],
.form .form-group[class*="col-"] input[type="email"],
.form .form-group[class*="col-"] input[type="password"] {
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  -webkit-transition: color 0.2s ease, background 0.3s ease;
  -moz-transition: color 0.2s ease, background 0.3s ease;
  -o-transition: color 0.2s ease, background 0.3s ease;
  transition: color 0.2s ease, background 0.3s ease;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* margin: 0;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: top; */
  width: 100%;
  font-size: 17px;
  color: #8d8d8d;
  background-color: #ffffff;
  border-width: 0 0 2px 0;
  border-bottom-color: #d7d7d7;
  outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-left-color: steelblue;
}

.well h3 {
  text-shadow: -1px -1px #fff, -2px -2px #fff, -1px 1px #fff, -2px 2px #fff,
    1px 1px #fff, 2px 2px #fff, 1px -1px #fff, 2px -2px #fff, -3px -3px 2px #bbb,
    -3px 3px 2px #bbb, 3px 3px 2px #bbb, 3px -3px 2px #bbb;
  color: steelblue;
  transition: all 1s;
}

label, legend {
  color:#ec720b;
  margin-bottom: 5px;
  font-size: 20px !important;
}

.mb-3 {
  font-size: 20px;
}

.form-check-label {
  color:#000000;
}

.navbar-wrapper {
    position: relative;
    margin-bottom: 100px;
 }

#navbar0 {
  height: 50px;
}

#navbar1 {
  height: 50px;
}

.nav-link {
  font-weight: bold;
}

.hidden {
  display: none;
}


/* Далее задаем CSS стили для наших элементов: */

.file-upload input[type="file"]{
display: none;/* скрываем input file */
}

/* задаем стили кнопки выбора файла*/

.file-upload {
position: relative;
overflow: hidden;
width: 250px;
height: 45px;
background:  #ec720b;
border-radius: 3px;
color: #0000;
text-align: center;
}

.file-upload:hover {
background: #ec720b;
}

/* Растягиваем label на всю область блока .file-upload */

.file-upload label {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
cursor: pointer;
}

/* стиль текста на кнопке*/

.file-upload span {
line-height: 45px;
font-size: 17px;
font-weight:bold;
color: #f2f2f2;
}

.row {
  flex-grow: 1 !important;
}
.mt-5 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  flex-grow: 1 !important;
  margin-top: 0px !important;
}

.table {
  border: none;
  margin-top: 20px;
	margin-bottom: 20px;
  border-collapse:unset;
}
.table thead th {
	font-weight: bold;
	text-align: left;
  color: #ec720b;
	border: none;
	padding: 10px 15px;
	background: #033c5ae7;
	font-size: 18px;
	border-top: 2px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
	border-left: 2px solid #ddd;
  border-radius: 10px;
}
.table tr th:last-child, .table tr td:last-child {
	border-right: 2px solid #ddd;
  border-radius: 10px;
}
.table thead tr th:first-child {
	border-radius: 10px;
  
}
.table thead tr th:last-child {
	border-radius: 10px;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
  font-weight: 700;
  color: #033c5ae7;
	vertical-align: top;
   background: #F8F8F8;
}
.table tbody tr:nth-child(even) {
	background: #F8F8F8;
  border-radius: 10px;
}
table tbody tr:first-child td{
  font-size: 17px;
  background: #b8e2f85b;
  color: #ec720b;
}
table tbody tr:last-child td{
	border-bottom: 2px solid #ddd;
}
.table tbody tr:last-child td:first-child {
	border-radius: 10px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 10px;
 
}