@font-face {
  font-family: "MontserratB";
  src:
    url("/Montserrat/static/Montserrat-Bold.ttf")
}

/* start screen styles starts */

.start-screen {
    min-height: 80vh;
    padding: 0px 0px 20px;
    width: 100%;
    //background-size:cover;
    //background-repeat: no-repeat;
    //background-position: bottom 100px right;
    @media (max-width: 1028px) {
      padding: 30px 40px 0px;
    };
    @media (max-width: 760px) {
      min-height: 55vh;
      padding: 30px 10px 10px;
    };
    &_content {
      //margin-top: 100px;
      align-items: flex-start;
       
      @media (max-width: 1028px) {
        flex-direction: column;
        margin-top: 80px;
      };
    };
  }

  .how-it-works {
    padding: 0px 40px 20px;
    background-color: #033c5a;
    background-size:cover;
    background-repeat: no-repeat;
    //background-position: bottom 100px right;
    @media (max-width: 1028px) {
      padding: 30px 40px 0px;
    };
    @media (max-width: 760px) {
      min-height: 55vh;
      padding: 30px 10px 10px;
    };
    &_content {
      //margin-top: 100px;
      align-items: flex-start;
       
      @media (max-width: 1028px) {
        flex-direction: column;
        margin-top: 80px;
      };
    };
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    @media (max-width: 1028px) {
      max-width: 600px;
      align-items: center;
      margin-bottom: 0px;
      margin: 0 auto;
    };
    @media (max-width: 760px) {
      max-width: 560px;
      margin: 0 auto;
    };
  }
  
  .only_text {
    font-family: 'Arial';
    font-size: 20px;
    line-height: 160%;
    letter-spacing: normal;
    margin: 1.0rem 0 0;
    color: white;
    text-align: left;
    @media screen and (max-width: 1028px) {
        font-size: 15px;
        line-height: 24px;
    }
    @media screen and (max-width: 760px) {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      padding-right: 0px;
  }
  }

  .home_title {
    width: 100%;
    font-size: 38px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 42px;
    font-family: 'MontserratB';
    color: #ec720b;
    padding: 43px 0 0;
    @media screen and (max-width: 1028px) {
      font-size: 25px;
      line-height: 32.5px;
    }
    @media screen and (max-width: 760px) {
      font-size: 25px;
      line-height: 32.5px;
      text-align: center;
      padding-right: 0px;
    }
  }

  .btn_get_started {
    text-decoration: none;
    background-color: #033c5a !important;
    color: #ffffff !important;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .06em;
    padding: 15px 45px;
    border: none;
    border-radius: 0.05rem;
    @media screen and (max-width: 1028px) {
        margin: 0 auto;
    }
  }

  .btn_order_now {
    min-width: 100px !important;
    border-radius: 0.3rem !important;
    padding: 15px !important;
  }

  .btn_get_started:hover {
    background-color: steelblue !important;
  }
  
  .button_text {
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    vertical-align: Top;
    letter-spacing: 1px;
    color: #292929;
    text-decoration: none;
  }
  
  .HIV {
    display: flex;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #033c5a;
    margin-bottom: 10px;
    background-color:white;
    height: 40px;
    border-radius: 2px;
  }
  
  .HIW_picture {
    width: 100%;
    background-image:  url("/public/start_screen_pic3.png") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40vw 0 0 40vw;
  }

  .WCL_picture {
    width: 100%;
    background-image:  url("/public/WCL-pic.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .WWS_picture {
    width: 100%;
    background-image:  url("/public/WWS-pic1.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .OCL_picture {
    width: 100%;
    background-image:  url("/public/WWS-pic.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 0 20px 150px;    
  }

  .WCL_icon {
    width: 32px;
    height: 32px;
    margin: 0 10px 10px 0;
  }

  .underline_icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .title-underline-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .underline-sub-container {
    display: flex;
    flex-direction: column;
  }

  .underline-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
  }
  
  .underline-top-blok {
    width: 150px;
    height: 16px;
    border-bottom: solid 2px #ec720b;
  }
  
  .underline-bottom-blok {
    width: 150px;
    height: 16px;
  }

  .vertical-strip {
    width: 20px;
    min-height: 100%;
    background-color: #ec720b;
  }

  .slider-container {
    width: 100%;
  }

  .slider-bottom-card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    height: 40vh;
    background-color: #ec720b;
    background: rgb(236 114 11 / 60%);
    &__text {
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-style: italic;
      margin-bottom: 10px;
    }
    &__name {
      text-align: center;
      color: #033c5a;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 0;
    }
    &__title {
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      text-transform:uppercase;
    }
  }
  .slider-top-card {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 3;
    &__text {
      font-family: "MontserratB";
      text-align: start;
      font-weight: bold;
      color: white;
      line-height: 7vh;
      font-size: calc(1em + 1.2vw);
      letter-spacing: 0.01em;
      margin-bottom: 0;
    }
    &__button {
      position: relative;
      top: 30px;
    }
  } 
  .slider-top-content {
    width: 44vw;
    margin-left: 10vw;
  }

  .card1 {
    background-image:  url("/public/home-pic.jpg");
  }
  .card2 {
    background-image:  url("/public/slider-top-pic-2.png");
  }
  .card3 {
    background-image:  url("/public/slider-top-pic-3.png");
  }
  .slider-top-card-shadow {
    display: flex;
    align-items: center;
    width: 65%;
    height: 80vh;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: #ec720b;
    background: rgb(236 114 11 / 45%);
    z-index: 1;
  }
  
button.slick-arrow {
  min-width: 0;
  padding: 0;
  background-color: transparent;
  opacity: 1;
}

button.slick-arrow.slick-prev {
  width: 30px;
  height: 30px;
  left: 50px;
  z-index: 2;
}
button.slick-arrow.slick-prev::before {
  width: 30px;
  height: 30px;
}
button.slick-arrow.slick-next {
  width: 30px;
  height: 30px;
  right: 50px;
  z-index: 2;
}

.featuredIn-top-container {
  position: relative;
  top: 90px;
  width: 100%;
  padding-right: 5vw;
}

.featuredIn-bottom-container {
  position: relative;
  top: 120px;
  width: 100%;
  padding-left: 5vw;
}

.featuredIn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  &__pic {
    width: 110px;
    height: 30px;
  }
}

  /* start screen styles ends */